#facebook {
  background-color: #f2f2f2;
  width: 100%;
}

#facebook-inner {
  margin: auto;
}

#facebook-inner #facebook-wrapper {
  line-height: 20px;
  background-color: #fff;
}

#facebook-wrapper-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  list-style: none;
}

#facebook-wrapper-list .list-item {
  font-size: 1.5rem;
}

.list-item .btn-group button {
  font-size: 1.2rem;
  font-weight: bold;
}

#whats-new-img {
  height: 200px; 
  background-color: lightgray;
}

#whats-new .d-flex.whats-new-list {
  list-style: none; 
  display: flex!important; 
  flex-direction: column;
  position: absolute; 
  bottom: 0%;
  right: 15px;
}

#whats-new .d-flex.whats-new-list li {
  background: #fff; 
  padding: 5px 8px 5px 8px; 
  border-radius: 50%;
}

#profile a {
  padding-left: 15px; 
  padding-right: 15px;     
}

#whats {
  background-color: #f9f9f9; 
  border-color: #f9f9f9;
}

#whats .whats-inner {
  height: 100%;
}

.whats-inner #whats-inner-img {
  position:relative;
  left: 30%; 
  top: 20%; 
  width: 54px; 
  height: 54px;
}